@model TieuHaoSanXuat.Models.ProductionProcess

<h2>Xóa Quy trình sản xuất</h2>

<h3>Bạn có chắc chắn muốn xóa quy trình này?</h3>
<div>
    <h4>Quy trình sản xuất</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên quy trình
        </dt>
        <dd class="col-sm-10">
            @Model.ProcessName
        </dd>
        <dt class="col-sm-2">
            Mô tả
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>
